body{
    background-color: rgb(104, 104, 207);
}

input{
    outline: none;
    border: none;
}
input:focus:invalid{
    border: 2px solid red;
    color: red;
    background-color: rgb(14, 7, 7);
}
 input:focus:valid{
    border: 2px solid  green;
 }